.img-responsive {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 250px;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    max-height: 70px;
}

td {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

.fix-spacing {
    padding-right: 0rem !important;
    padding-left: 0.96rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.bg-dark {
    border-color: rgb(51, 54, 56);
    border: none;
}

button {
    border: none;
    background-color: transparent;
}

button:focus {
    outline: 0;
}

.nav-link {
    padding-bottom: 0.1rem;
    padding-top: 0.65rem;
    margin-top: 0rem;
    color: var(--text-primary);
    width: 6rem;
    text-decoration: none;
    filter: grayscale(50%);
    transition: var(--transision-speed);
}

p {
    margin-bottom: 0;
}

.nav-link:hover {
    background: rgb(33, 31, 44);
    filter: grayscale(0%);
}
