.img-responsive {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 250px;
}

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    max-height: 70px;
}

td {
    text-align: center;
}

.bg-dark{
    border-color: rgb(51, 54, 56);
}